body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    box-sizing: border-box;
    background-image: url(../images/bg-yellow.jpg);
    background-color: #D39B00;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Roboto Slab', serif;
}

a:hover{
    color: black;
}

/* NAVBAR */

.navbar {
    background-color: rgba(90, 85, 96, 0.2);
    color: #46344e;
}

.nav-item {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0 1rem;
}

/* MY CONTENT */

.container-fluid {
    text-align: center;
    color: white;
    padding: 5% 7% 2%;
}

.heading {
    font-size: 6rem;
    padding: 5% 0 1%;
}

.heading-para {
    font-size: 2rem;
}

/* Intro */

.intro {
    padding: 8% 0;
}

/* ABOUT ME */

.about-me {
    margin-top: 10rem;
}

.discription {
    align-self: center;
    text-align: left;
}

.mypic {
    width: 70%;
    border-radius: 50%;
}

.sub-heading {
    font-size: 2.5rem;
}

.about-list {
    font-size: 1.2rem;
}

.paragraph {
    line-height: 1.5;
    font-size: 1.5rem;
}

/* Project section */

.my-projects {
    padding-top: 10%;
}

.my-projects h1 {
    font-size: 4rem;
}

.project-card {
    background-color: rgba(90, 85, 96, 0.2);
}

.project-card a {
    color: white;
}

.project-card p {
    font-weight: 500;
    margin: 10px 0;
    font-size: 1.2rem;
}

.projects {
    margin-top: 3rem;
}

.project-img {
    border-radius: 5px;
    width: 80%;
}

/* #footer */

footer {
    margin-top: 5rem;
}

.fa-2x{
    color: whitesmoke;
    padding: 5px;
}
.fa-2x:hover{
    color: black;
}


@media(max-width: 500px){
    .sub-heading{
        text-align: center;
        margin-top: 2rem;
    }

    .project-card{
        padding-top: 3rem;
    }

    .heading{
        font-size: 5rem;
    }
}
